<html>

<head>
    <title>DemoApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="DemoAppScripts.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<h1> AngularJs DemoAPP</h1>
<body ng-app="DemoApp">
    <div ng-controller="Controller">
        <form name="form">
            Enter the first number:
            <input type="text" ng-model="formdata.firstnumber" name="firstnumber11" ng-pattern="regex" required/>
            <span  ng-show = "form.firstnumber11.$invalid">Invalid Input!!
            </span>
            <br>
            <br>
            Enter the second number: 
            <input type="text" ng-model="formdata.secondnumber" name="secondnumber11" ng-pattern="regex" required/>
            <span  ng-show = "form.secondnumber11.$invalid">Invalid Input!!
            </span>
            <br>
            <br>
            <input type="submit" ng-disabled="form.$invalid || form.$error.required" ng-click="save_data()" value="calculate" />   
            <br>
            <p>Last Database record : </p>
            <p ng-bind="LastDBEntry"></p>
        </form>
    </div>
</body>

</html>
