<html>

<head>
    <title>DemoApp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="DemoAppScripts.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<h1> AngularJs DemoAPP</h1>
<body ng-app="DemoApp">
    <div ng-controller="Controller">
        <form name="form">
            <label for="input">Enter the first number: </label>
            <input type="text" ng-model="formdata.firstnumber" id="input" name="firstnumber11" ng-pattern="regex" required/>
            <br>
            <br>
            <label for="input">Enter the second number: </label>
            <input type="text" ng-model="formdata.secondnumber" id="input1" name="secondnumber11" ng-pattern="regex" required/>
            <br>
            <br>
            <input type="submit" ng-disabled="form.$invalid || form.input.$error.required" ng-click="postRequest()" value="calculate" />   
            <h3 id="id_3">{{replace}}</h3>
            <p id="id_4">{{loadDB}}</p>
        </form>
    </div>
</body>

</html>
