h1 {
    text-align: center;
    font-style: bold;
    color:red;
    margin: 75px;
    }

div 
    {
    text-align: center;
    }

body{
     background-color: aqua;
    }
#id_3{
    font-size: 30px;
    color:blue;
    font-style: bold;
    }
#id_4{
    font-size: 20px;
    color:green;
    font-style: italic;
    }
 input.ng-invalid
  {
        color: red;
        font-weight:bold;
     }
input.ng-valid 
   {
        color: black;
     }
         
