h1 {
    text-align: center;
    font-style: bold;
    color:red;
    margin: 75px;
    }
div 
    {
    text-align: center;
    }

body{
     background-color: aqua;
    }
 input.ng-invalid
  {
        color: red;
        font-weight:bold;
     }
input.ng-valid 
    {
        color: black;
    }
span
    {
        color:red;
    }
